<div id="full-poster-modal" class="full-poster-modal">
    <img id="full-poster-modal-img" alt="Une bien belle affiche" />
</div>

<link rel="stylesheet" href="../../css/full-poster-modal.css" />
<script defer src="../../js/full-poster-modal.js"></script>